<div xmlns:py="http://genshi.edgewall.org/">
<table py:attrs="w.attrs" ></table>
<div py:if="w.pager_id" id="${w.pager_id}" />
<script type="text/javascript">
$(document).ready(
    function(){
        var opts = ${w.options};
        var grid = $("#${w.selector}");
        grid.jqGrid(opts);
        if ( 'pager' in opts ) {
            opts['pager_selector'] = opts['pager'];
            opts['pager'] = $(opts['pager'])

            var pager_opts = ${w._pager_options}
            var prmEdit = ${w._prmEdit};
            var prmAdd = ${w._prmAdd};
            var prmDel = ${w._prmDel};
            var prmSearch = ${w._prmSearch};
            var prmView  = ${w._prmView};

            grid.navGrid('#'+opts['pager_selector'], pager_opts,
                         prmEdit, prmAdd, prmDel, prmSearch, prmView)
            <py:for each="btn in w._custom_pager_buttons">
                .navButtonAdd('#'+opts['pager_selector'], ${btn})
            </py:for>;
        }
        <py:if test="w.prmFilter">
        var prmFilter = ${w._prmFilter};
        grid.jqGrid('filterToolbar', prmFilter);
        </py:if>
    }
);
</script>
</div>
